html, body, #app {
    height: 100vh;
}

#app {
    display: flex;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(30, 30, 30);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(40, 40, 40);
    border-radius: 4px;
    cursor: pointer;
}
